<!--
    Sean!
    your html code here 
-->

<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-white">
            
        </div>
        <div class="col-8 bg-white ">
            <h1>Contact</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero facere nesciunt, totam laudantium delectus velit distinctio ex ducimus ab porro. Eum voluptate quo facere adipisci, quos necessitatibus praesentium voluptatum eveniet!</p>
            
            <div class="center">
            <form class="col-7 mx-auto m-5">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">

                </div>

                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Example textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </form>
            </div>
        </div>
        <div class="col-2 bg-white">
            <h1></h1>
        </div>
    </div>
</div>