<!--
    Sean!
    your html code here 
-->

<div class="container-fluid"  style="height: 80vh;">
    <div class="row">
        <div class="col-1 bg-white">
            
        </div>
        <div class="col-10 bg-white ">
            <h1>Contact</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero facere nesciunt, totam laudantium delectus velit distinctio ex ducimus ab porro. Eum voluptate quo facere adipisci, quos necessitatibus praesentium voluptatum eveniet!</p>
            

            <div class="form-box thisbox"  style="margin: auto; width: 60%; background-color: #F4F5F5; padding: 10px 10px 50px 150px;">
              <form action="https://api.formbucket.com/f/c2K3QTQ" method="post">
                <div class="form-group">
                  <label for="name">Your Email</label>
                  <input class="form-control" id="name" type="text" name="Name">
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea class="form-control" id="message" name="Message"></textarea>
                </div>
                <input class="btn btn-primary" style="position:relative; float: right; margin-top: 10px;" type="submit" value="Submit" />
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>