<!--
    Sean 
    your html code here -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 bg-white">
                
            </div>
            <div class="col-8 bg-white ">
                <h1>Portfolio</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus tempora exercitationem sapiente animi fuga accusantium mollitia ratione rerum, quisquam, facilis voluptate eius ipsa maxime corrupti?</p>
                
                <div class="row">
                    <div class="col-4">
                        <img class="w-100" src="https://media.istockphoto.com/photos/doing-it-for-the-love-of-success-picture-id637234116?b=1&k=20&m=637234116&s=170667a&w=0&h=Un5DsgfbXLFIWVZv-ZNb_Q6e-by9p4-0DQ8dnh-f8N8=" alt="">
                    </div>
                    <div class="col-4">
                        <img class="w-100" src="https://media.istockphoto.com/photos/closeup-shot-of-an-unrecognisable-businesswoman-calculating-finances-picture-id1330234595?b=1&k=20&m=1330234595&s=170667a&w=0&h=F-2eX72oHfXypZ9ZCEtjHJvjNxOFyYiEW9yCc-8guZI=" alt="">

                    </div>
                    <div class="col-4">
                        <img class="w-100" src="https://media.istockphoto.com/photos/shot-of-a-group-of-businesspeople-networking-at-a-conference-picture-id1335875570?b=1&k=20&m=1335875570&s=170667a&w=0&h=J1K1mcrt_su1YjE2cPX2517jElGRPzoUt0lzvuIhLIo=" alt="">
                        

                    </div>
                </div>

            </div>
            <div class="col-2 bg-white">
                <h1></h1>
            </div>
        </div>
    </div>